.header {
  div {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
  }
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $color-primario;
  border-bottom: 1px black solid;
  ul {
    display: flex;
    list-style: none;
  }
}
header {
  div {
    h1 {
      margin-right: auto;
      width: 400px;
    }
  }
}
.botonera {
  margin-right: 20px;
  ul {
    li {
      margin: 0 10px;
    }
  }
  a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: font-size 0.1s;
    &:hover {
      color: $color-botones;
      font-size: large;
    }
  }
}
