.inicio {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: $color-contenedor;
  padding: 50px;
  border-radius: 50px;
  margin-bottom: 50px;
  color: white;
  h2 {
    text-align: center;
    color: white;
  }
  a {
    text-decoration: none;
    background-color: $color-primario;
    padding: 10px;
    color: white;
    font-size: medium;
    transition: font-size 0.1s;
    border-radius: 100px;
    &:hover {
      color: greenyellow;
      font-size: large;
      background-color: $color-primario;
    }
  }

  @mixin parrafoParametros($size, $alineacion) {
    font-size: $size;
    text-align: $alineacion;
  }

  .quienesTexto {
    @include parrafoParametros(30px, left);
  }

  .carousel {
    margin-top: 20px;
  }
}
