
* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(192, 188, 188);
}


@import "variables","header","index","nosotros","unirte","contacto","escultismo","footer";

////////////////////////////// MEDIA QUERYS
@media screen and (max-width: 400px) {
  .contenidoDos {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .contenidoTres {
    display: flex;
    flex-direction: column;
  }
  .contenidoCuatro {
    display: flex;
    flex-direction: column;
  }
  .contenidoOcho {
    display: flex;
    flex-direction: column;
  }
  .contenidoNueve {
    display: flex;
    flex-direction: column;
  }
}
