@import "variables", "header", "index", "nosotros", "unirte", "contacto",
  "escultismo", "footer", "body";

.botonera .selected {
  color: greenyellow;
}

////////////////////////////// MEDIA QUERYS
@media screen and (max-width: 400px) {
  .contenidoDos {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .contenidoTres {
    display: flex;
    flex-direction: column;
  }
  .contenidoCuatro {
    display: flex;
    flex-direction: column;
  }
  .contenidoOcho {
    display: flex;
    flex-direction: column;
  }
  .contenidoNueve {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 1148px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
